#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
# install homebrew
if ! command -v brew > /dev/null; then
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

# install age
if ! command -v age > /dev/null; then
	brew install age
fi

# install ansible
if ! command -v ansible > /dev/null; then
	brew install ansible
fi
{{- end }}

# decrypt private age key by passphrase
if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
    mkdir -p "${HOME}/.config/chezmoi"
    chezmoi age decrypt --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${HOME}/.config/chezmoi/key.txt"
fi

if command -v ansible-playbook > /dev/null; then
    ansible-playbook {{ joinPath .chezmoi.sourceDir ".bootstrap/main.yml" | quote }} --ask-become-pass --diff
fi
